<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
      {{>navbar}}
    <h2 class="welcomemesg">{{desc}}</h2>
    <h2 class="country"></h2>
    <h2 class="latitude"></h2>
    <h2 class="longitude"></h2>
    <h2 class="forecast"></h2>
    <h2 class="erorr"></h2>
    <script src="js/index.js"></script>
</body>
</html>